@model IEnumerable<Cypisek.ViewModels.MediaFileViewModel>

@{
    ViewBag.Title = "FileManager";
}

<h2>FileManager</h2>


<ul>
    
    @foreach (var item in Model)
    {
        <li>@item.FileName &nbsp;&nbsp; @item.FileSize
    @*<button class="btn btn-info" type="button"
            onclick="location.href='@Url.Action("HelloImage","Admin")'">
        Wyświetl</button>*@
</li>
    }
</ul>

<h2>Basic File Upload - upload image</h2>
@using (Html.BeginForm("FileManager",
                        "Admin",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload Image" />
    <br><br>
    @ViewBag.Message
}
