
@{
    ViewBag.Title = "HelloAdmin";
}

<h2>HelloAdmin</h2>


<button class="btn btn-info" type="button"
        onclick="location.href='@Url.Action("HelloImage","Admin")'"
        />

    @*@using (Html.BeginForm("HelloAdmin", "Admin", FormMethod.Post))
    {
        <label for="file">Image link</label>
        <input type="text" name="file" id="file" /><br><br>
        <input type="submit" value="Show Image" />
        <br><br>
        @ViewBag.Message
    }*@
