<config><ID>ID8163883817348443</ID><ScheduleName>Harmonogram1</ScheduleName><playlist count="10"><file time="10">chalets_2.jpg</file><file time="10000">chalets_2.jpg</file><file time="1000">chalets_2.jpg</file><file time="10">chalets_3.jpg</file><file time="10">chalets_4.jpg</file><file time="10">chalets_big.jpg</file><file time="10">zoom1.jpg</file><file time="10">zoom2.jpg</file><file time="10">zoom3.jpg</file><file time="10">zoom4.jpg</file></playlist></config>