<config><ID>ID0888217227171360</ID><ScheduleName endTime="09/01/2017 11:46" startTime="07/01/2017 16:00">Harmonogram1</ScheduleName><playlist count="4"><file time="8000">12.jpg</file><file time="8000">620_PSACD_l-150x150.jpg</file><file time="8000">Copley-Square-21019-150x150.jpg</file><file time="8000">Groups_GroupSupport_Team-300x300.jpg</file></playlist></config>