<config><ID>ID2188202786381356</ID><ScheduleName>Harmonogram1</ScheduleName><playlist count="8"><file time="1400">chalets_2.jpg</file><file time="1800">chalets_3.jpg</file><file time="1700">chalets_4.jpg</file><file time="999">chalets_big.jpg</file><file time="1854">zoom1.jpg</file><file time="1924">zoom2.jpg</file><file time="1808">zoom3.jpg</file><file time="980">zoom4.jpg</file></playlist></config>